content-background = #FBFBFB
body-background = #F3F3F3
menu-background = #272F32
border-radius = 4px
muted = #737373

rounded-corners()
  border-radius border-radius

pad-base()
  rounded-corners()

  box-sizing border-box
  background content-background
  border 0
  box-shadow 2px 2px 13px 1px #BDBBBB
