@require 'common.import'

#explore-pad
  pad-base()

  background #F1F1F1
  margin 25px 0
  margin-bottom 0
  padding 20px
  padding-bottom 50px

  .search-container
    rounded-corners()

    font-size 18px
    display flex
    box-sizing border-box
    box-shadow 2px 2px 6px 0px #C1C1C1
    margin-bottom 20px
    width 60%

  #search-axis-toggler
    position relative
    display flex
    align-items center
    background #B9B9B9
    padding 0 5px
    cursor pointer
    border-top-left-radius 4px
    border-bottom-left-radius 4px

  .search-box
    display inline-block
    position relative
    box-sizing border-box
    width 100%

    .search-icon
      top 6px
      left 6px
      position absolute
      cursor pointer

    #explore-search-input
      border 0
      padding-left 28px
      padding-right 28px
      box-sizing border-box
      width 100%
      border-radius 0
      border-top-right-radius 4px
      border-bottom-right-radius 4px

      &:focus
        outline: none

    .clear-icon
      top 6px
      right 6px
      position absolute
      cursor pointer

.practitioner-results
  list-style none
  padding 0
  margin 0

.practitioner-item
  rounded-corners()

  background white
  padding 20px
  box-shadow 2px 2px 6px 0px #C1C1C1
  margin-bottom 10px
  overflow hidden

  a
    color inherit
    text-decoration inherit
    display flex

  .practitioner-image
    margin-right 20px

  .practitioner-name
    font-size 24px
    padding-bottom 4px
    border-bottom 1px solid #BBBBBB
    margin-bottom 8px

  .practitioner-summary
    font-size 18px
    margin-bottom 20px

  .practitioner-institute
    color #565656

  .practitioner-specialties
    color #565656

.no-results
  margin 0

#search-axis-picker
  position absolute
  left 0px
  top 26px
  z-index 1000
  background: #B9B9B9
  padding 10px
  border-bottom-right-radius 4px
  border-bottom-left-radius 4px
  box-shadow 2px 2px 6px 0px #C1C1C1

  ul
    list-style none
    padding 0
    margin 0

    li.selected
      color white
