@require 'common.import'

#practitioner-pad
  pad-base()

  background #fff
  margin 25px 0
  margin-bottom 0
  padding 40px
  padding-bottom 50px

#practitioner-heading
  display flex
  margin-bottom 24px

  #practitioner-name
    margin 0
    margin-bottom 4px
    font-size 30px

  #practitioner-picture
    margin-right 20px

  #practitioner-summary
    font-size 18px

  #practitioner-description
    margin-top 24px

#practitioner-specialties
  width 50%
  overflow hidden

  h2
    margin 0
    margin-bottom 10px

  // ul
  //   margin 0
  //   padding 0
  //   list-style none
  //
  //   li
  //     display inline
