.pure-g
  .pure-u-1
    #explore-pad
      .search-box
        span#explore-do-search.search-icon.icon-search2.muted
        input#explore-search-input(placeholder="Search Physically", value=searchQuery)
        if hasSearchQuery
          span#explore-clear-search.clear-icon.icon-cross2.muted
      if isEmpty
        p No results were returned.
