.pure-g
  .pure-u-1
    #explore-pad
      .search-container
        span#search-axis-toggler
          span.icon-menu3
          span.icon-arrow-down5
          #search-axis-picker.hidden
            ul
              li#search-axis-all.selected
                span All
              li#search-axis-people
                span.icon-user People
              li#search-axis-specialties
                span.icon-pulse2 Specialties
        .search-box
          span#explore-do-search.search-icon.icon-search2.muted
          input#explore-search-input(placeholder="Search #{searchAxis}", value=searchQuery)
          if hasSearchQuery
            span#explore-clear-search.clear-icon.icon-cross2.muted
      if isEmpty
        p.no-results No results were returned.
      else
        ul.practitioner-results
          each practitioners
            li.practitioner-item
              .practitioner-name #{name}
