header
  nav#menu.pure-menu.pure-menu-horizontal
    a.pure-menu-heading(href="/") #{appName}
    ul.pure-menu-list
      each menuElements
        li.pure-menu-item($dyn=attrs)
          a(href=url $dyn=linkAttrs) #{name}
article
  #content
    +yield
footer
  p Physically
  p © 2015 #[a(href='http://arveknudsen.com' target='_blank') Arve Knudsen]
